@import "../../helpers/functions.scss";
@import "../../helpers/mixins.scss";
@import "../../typography/variables.scss";
@import "../../typography/media_queries.scss";

body {
  background-image: url("https://i.ytimg.com/vi/rumF8zJUFYI/sddefault.jpg?sqp=-oaymwEmCIAFEOAD8quKqQMa8AEB-AHeA4AC4AOKAgwIABABGGUgZShlMA8=&rs=AOn4CLBetpZfRpGjZ-Z0To7ykofzqT43XQ");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: px-to-rem(953px);

  @media screen and (max-width: px-to-rem(949px)) {
    height: 100%;
  }
}



.header {
  width: px-to-rem(500px);
  @include flex(center, center);

  @media screen and (max-width: px-to-rem(949px)) {
    width: px-to-rem(200px);
  }

  &__inner {
    box-sizing: border-box;
    @include flex(center, center);
    position: relative;
    width: px-to-rem(500px);

    .logo{
      color: white;
      font-size: px-to-rem(30px);
      font-family: sans-serif;
      font-weight: 400;
      margin-bottom: 0;
      padding-top: px-to-rem(80px);
      z-index: 47;

      @media screen and (max-width: px-to-rem(949px)) {
        font-size: px-to-rem(10px);
        margin-left: px-to-rem(-40px);
        margin-top: px-to-rem(-10px);
      }

      @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1275px)) {
        font-size: px-to-rem(15px);
        margin-left: px-to-rem(-200px);
      }

      @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
        font-size: px-to-rem(22px);
      }
    }
  }
}

.card {
  @include flex(center, column);
  background-color: rgba(0, 0, 0, 0.4);
  width: px-to-rem(700px);
  height: px-to-rem(953px);
  right: 0;
  position: absolute;
  top: 0;
  backdrop-filter: blur(20px);
  z-index: 1;
  opacity: 99%;


  @media screen and (max-width: px-to-rem(949px)) {
    width: px-to-rem(200px);
    height: px-to-rem(731px);
  }


  @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
    width: px-to-rem(350px);
    height: px-to-rem(953px);
  }

  @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
    width: px-to-rem(500px);
    height: px-to-rem(953px);
  }


  &__locations{
      margin-top: px-to-rem(80px);
      margin-left: px-to-rem(-50px);

    @media screen and (max-width: px-to-rem(949px)) {
      margin-top: px-to-rem(65px);
      margin-left: px-to-rem(2px);
    }

    &__search{
      background: none;
      border: none;
      color: #6d6e70;
      font-size: px-to-rem(30px);
      font-family: sans-serif;
      font-weight: 400;

      @media screen and (max-width: px-to-rem(949px)) {
        font-size: px-to-rem(10px);
      }

      @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
        font-size: px-to-rem(15px);
      }

      @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
        font-size: px-to-rem(21.428px);
      }

      &:focus {
        outline: none;
        border: none;
      }
    }

    &__underscore{
      width: px-to-rem(500px);
      height: px-to-rem(1px);
      background-color: #6d6e70;
      margin-top: px-to-rem(20px);

      @media screen and (max-width: px-to-rem(949px)) {
        width: px-to-rem(130px);
      }

      @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
        width: px-to-rem(230px);
      }

      @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
        width: px-to-rem(357.145px);
      }
    }

    &__example{
      color: #6d6e70;
      font-size: px-to-rem(25px);
      font-family: sans-serif;
      font-weight: 400;
      margin-top: px-to-rem(40px);
      cursor: pointer;

      @media screen and (max-width: px-to-rem(949px)) {
        font-size: px-to-rem(10px);
        margin-top: px-to-rem(30px);
      }

      @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
        font-size: px-to-rem(15px);
        margin-top: px-to-rem(50px);
      }

      @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
        font-size: px-to-rem(21.428px);
        margin-top: px-to-rem(50px);
      }
    }
  }

  &__details{
    margin-top: px-to-rem(500px);
    margin-left: px-to-rem(-500px);

    @media screen and (max-width: px-to-rem(949px)) {
      margin-left: px-to-rem(-130px);
      margin-top: px-to-rem(360px);
    }

    @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
      margin-left: px-to-rem(-230px);
    }

    @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
      margin-left: px-to-rem(-357.145px);
    }

    &__underscore{
      width: px-to-rem(500px);
      height: px-to-rem(1px);
      background-color: #6d6e70;
      margin-top: px-to-rem(-20px);

      @media screen and (max-width: px-to-rem(949px)) {
        width: px-to-rem(130px);
      }

      @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
        width: px-to-rem(230px);
      }

      @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
        width: px-to-rem(357.145px);
      }
    }

    &__hdl{
      color: white;
      font-size: px-to-rem(30px);
      font-family: sans-serif;
      font-weight: 400;
      margin-top: px-to-rem(60px);
      @media screen and (max-width: px-to-rem(949px)) {
        font-size: px-to-rem(10px);
        margin-top: px-to-rem(60px);
      }

      @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
        font-size: px-to-rem(15px);
      }

      @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
        font-size: px-to-rem(21.428px);
      }
    }
  }
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


.card__details__container{
  @include flex(flex-start, column);
  width: px-to-rem(500px);

  @media screen and (max-width: px-to-rem(949px)) {
    width: px-to-rem(126px);
  }

  @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
    width: px-to-rem(230px);
  }

  @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
    width: px-to-rem(357.145px);
  }

  &__underscore{
    width: px-to-rem(500px);
    height: px-to-rem(1px);
    background-color: #6d6e70;
    margin-top: px-to-rem(30px);

    @media screen and (max-width: px-to-rem(949px)) {
      width: px-to-rem(130px);
    }

    @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
      width: px-to-rem(230px);
    }

    @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
      width: px-to-rem(357.145px);
    }
  }

  &__dsc{
    width: px-to-rem(250px);
    color: #6d6e70;
    font-size: px-to-rem(25px);
    font-family: sans-serif;
    font-weight: 400;

    @media screen and (max-width: px-to-rem(949px)) {
      font-size: px-to-rem(10px);
    }

    @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
      font-size: px-to-rem(15px);
    }

    @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
      font-size: px-to-rem(21.428px);
    }

    &__item{
      margin-top: px-to-rem(40px);

      @media screen and (max-width: px-to-rem(949px)) {
        margin-top: px-to-rem(40px);
      }
    }
  }
  &__info{
    width: px-to-rem(250px);
    color: white;
    font-size: px-to-rem(25px);
    font-family: sans-serif;
    font-weight: 400;
    text-align: right;

    @media screen and (max-width: px-to-rem(949px)) {
      font-size: px-to-rem(10px);
    }

    @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
      font-size: px-to-rem(15px);
    }

    @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
      font-size: px-to-rem(21.428px);
    }

    &__item{
      margin-top: px-to-rem(40px);

      @media screen and (max-width: px-to-rem(949px)) {
        margin-top: px-to-rem(40px);
      }
    }
  }
}


.weather{
  margin-top: px-to-rem(450px);

  @media screen and (max-width: px-to-rem(949px)) {
    margin-top: px-to-rem(500px);
  }

  @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
    margin-top: px-to-rem(650px);
  }

  @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
    margin-top: px-to-rem(650px);
  }

  @media screen and (min-width: px-to-rem(1550px)) and (max-width: px-to-rem(1850px)) {
    margin-top: px-to-rem(300px);
  }

  &__container{
    @include flex(center, row);
    width: px-to-rem(1200px);
    height: 200px;

    @media screen and (max-width: px-to-rem(949px)) {
      width: px-to-rem(200px);
      height: px-to-rem(150px);
      @include flex(flex-start, column);
    }

    @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1724px)) {
      width: px-to-rem(600px);
      height: px-to-rem(150px);
    }

    @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
      width: px-to-rem(800px);
    }

    @media screen and (min-width: px-to-rem(1550px)) and (max-width: px-to-rem(1850px)) {
      @include flex(center, center);
      width: px-to-rem(700px);
      height: px-to-rem(600px);
      margin-left: px-to-rem(30px);
    }



    &__item{
      color: white;
      font-size: px-to-rem(150px);
      font-family: sans-serif;
      font-weight: 400;
      @media screen and (max-width: px-to-rem(949px)) {
        font-size: px-to-rem(45px);
        margin-top: px-to-rem(-85px);
        margin-left: px-to-rem(40px);
      }


      @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
        font-size: px-to-rem(50px);
      }

      @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
        font-size: px-to-rem(80px);
      }
    }

    &__box{
      @include flex(center, column);
      margin-left: px-to-rem(20px);
      width: px-to-rem(300px);

      @media screen and (max-width: px-to-rem(949px)) {
        @include flex(felx-start, column);
        margin-top: px-to-rem(-200px);
        margin-left: px-to-rem(-200px);
        width: px-to-rem(300px);
      }

      @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
        margin-top: px-to-rem(-120px);
        margin-left: px-to-rem(-60px);
      }

      @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
        margin-top: px-to-rem(-85px);
        margin-left: px-to-rem(-40px);
      }

      @media screen and (min-width: px-to-rem(1550px)) and (max-width: px-to-rem(1850px)) {
        margin-left: px-to-rem(-450px);
        margin-top: px-to-rem(125px);
        width: px-to-rem(260px);
      }



      &__item{
        color: white;
        font-size: px-to-rem(60px);
        font-family: sans-serif;
        font-weight: 400;
        margin-top: px-to-rem(180px);

        @media screen and (max-width: px-to-rem(949px)) {
          font-size: px-to-rem(25px);
          margin-left: px-to-rem(-40px);
        }

        @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
          font-size: px-to-rem(25px);
        }

        @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
          font-size: px-to-rem(35px);
        }
      }

      &__details{
        @include flex(flex-start, center);
        margin-left: px-to-rem(-10px);
        width: px-to-rem(300px);
        position: absolute;
        margin-top: px-to-rem(260px);

        @media screen and (max-width: px-to-rem(949px)) {
          margin-left: px-to-rem(155px);
        }
        @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
          margin-left: px-to-rem(200px);
        }

        @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
          margin-left: px-to-rem(160px);
        }

        @media screen and (min-width: px-to-rem(1550px)) and (max-width: px-to-rem(3000px)) {
          margin-left: px-to-rem(40px);
        }

        &__item{
          color: white;
          font-size: px-to-rem(20px);
          font-family: sans-serif;
          font-weight: 400;
          margin: 0;

          @media screen and (max-width: px-to-rem(949px)) {
            font-size: px-to-rem(8px);
            margin-top: px-to-rem(-90px);
          }

          @media screen and  (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
            font-size: px-to-rem(8px);
            margin-top: px-to-rem(-90px);
          }

          @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
            margin-top: px-to-rem(-55px);
            font-size: px-to-rem(11px);
          }
        }
      }
    }

    &__column{
      @include flex(center, column);
      margin-left: px-to-rem(40px);

      @media screen and (max-width: px-to-rem(949px)) {
        margin-top: px-to-rem(-170px);
        margin-left: px-to-rem(-110px);
      }

      @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
        margin-top: px-to-rem(-170px);
        margin-left: px-to-rem(-60px);
      }

      @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
        margin-left: px-to-rem(-40px);
        margin-top: px-to-rem(-119px);
      }


      @media screen and (min-width: px-to-rem(1550px)) and (max-width: px-to-rem(1850px)) {
        margin-top: px-to-rem(175px);

      }

      &__item{
        color: white;
        font-size: px-to-rem(20px);
        font-family: sans-serif;
        font-weight: 400;
        margin-top: px-to-rem(260px);
        margin-left: px-to-rem(-60px);

        @media screen and (max-width: px-to-rem(949px)) {
          font-size: px-to-rem(8px);
          margin-left: px-to-rem(-45px);
        }

        @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
          font-size: px-to-rem(8px);
          margin-left: px-to-rem(-45px);
        }


        @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
          font-size: px-to-rem(11px);
          margin-left: px-to-rem(-45px);
        }


      }

      &__img{
        background-image: url("../../images/rain.png");
        width: px-to-rem(70px);
        height: px-to-rem(70px);
        background-size: cover;
        margin-top: px-to-rem(180px);

        @media screen and (max-width: px-to-rem(949px)) {
          width: px-to-rem(45px);
          height: px-to-rem(45px);
          margin-top: px-to-rem(210px);
          margin-left: px-to-rem(-120px);
        }

        @media screen and  (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1549px)) {
          margin-top: px-to-rem(210px);
        }

        @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1549px)) {
          width: px-to-rem(45px);
          height: px-to-rem(45px);
        }

      }
    }
  }
}


.bottom{
  width: 100%;
  height: px-to-rem(100px);
  background-color: black;
  margin-top: px-to-rem(189px);

  @media screen and (max-width: px-to-rem(949px)) {
    margin-top: px-to-rem(-1px);
  }

  @media screen and (min-width: px-to-rem(950px)) and (max-width: px-to-rem(1274px)) {
    margin-top: px-to-rem(56px);
  }

  @media screen and (min-width: px-to-rem(1275px)) and (max-width: px-to-rem(1549px)) {
    margin-top: px-to-rem(48px);
  }


  @media screen and (min-width: px-to-rem(1550px)) and (max-width: px-to-rem(1850px)) {
    margin-top: px-to-rem(-60px);
  }
}